<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.companyname.mjpegstreamer">
  <uses-sdk android:targetSdkVersion="30" android:minSdkVersion="21" />
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.INTERNET" />
  <application android:label="MjpegStreamer" android:allowBackup="true" android:usesCleartextTraffic="true">
  </application>
</manifest>
